@using TesteWatson.Helpers
@using TesteWatson.Models
@model TesteWatson.Models.view_analises

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Detalhes da Análise</h4>
    <hr />
    <b>Arquivos:</b>
    <ol>
        @foreach (var item in Model.analises_arquivos)
        {
            <li>@Html.DisplayFor(modelitem => item.nome)</li>

        }

    </ol>
    <p />
    <dl class="dl-horizontal">
        <dd>
            
       
        
         </dd>

    </dl>
    @(Html.TreeView(ViewBag.model as IEnumerable<TreeViewModels>)
            .EmptyContent("Nada foi localizado!")
            .Children(m => m.Nodes)
    .HtmlAttributes(new { id = "tree" })
    .ChildrenHtmlAttributes(new { @class = "subItem" })
    .ItemText(m => m.Name)
    .ItemTemplate(
    @<text>
        <a href="#@item.Id">@item.Name - @item.Nota</a>
    </text>)
    )

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
