@model IEnumerable<TesteWatson.Models.arquivobas>

@{
    ViewBag.Title = "Arquivos para análise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Arquivos para análise</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "arquivobases", FormMethod.Post))
{
<div class="editor-field">
   
    @Html.DropDownList("alunobag", "Todos os alunos")  <input type="submit" value="Selecionar" />


</div>
}
<p/><p /><p />
@using (Html.BeginForm("Analisar", "arquivobases", FormMethod.Post))
{
    <table class="table">
        <tr>
            <th>
                Arquivo
            </th>
            <th>
                Data upload
            </th>
            <th>
                Aluno
            </th>
        
        
            <th></th>
        </tr>

         @foreach (var item in Model) {
        <tr>
            <td>
                <input type="checkbox" name="SelectedFiles" value=@item.id />  @Html.DisplayFor(modelItem => item.nome)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtupload)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aluno.nome)
            </td>
       
        
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    
    }
    
</table>
<p />

    <input type="submit" value="Analisar" />
}
